body {
  background-color: #ffffcc;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: serif;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-family: serif;
  font-style: italic;
}

p {
  font-family: serif;
}

.slides img {
  height: auto;
  width: 100%;
}
