h1 {
  color: ;
  background-color: ;
  font-size: ;
}

p {
  font-weight: ;
  text-align: ;
  
/* z index-1 */
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video iframe {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* you were also missing a semi-colon here, which was breaking this and the background rule */
    background: url(../img/overlay-pattern.png) repeat;
}