h1 {
  color: ;
  background-color: ;
  font-size: ;
}

p {
  font-weight: ;
  text-align: ;
}

#droid {
  width:100%;
  height:auto;
}
@font-face{
    font-family: "Starjedi";
    src: url('../Starjedi.ttf');
}
